.text-green {
  color: green;
}

.text-blue {
  color: blue;
}

.hyper-red:link {
  color: red;
}

.hyper-red:visited {
  color: #FF4400;
}

.hyper-red:hover {
  color: #FF9900;
}

.hyper-red:active {
  color: #000000;
}

.body-pink{
  background-color: pink;
}