h1 {
  color: green;
}

h2 {
  color: green;
}

p {
  color: blue;
}

a:link {
  color: red;
}

a:visited {
  color: #FF4400;
}

a:hover {
  color: #FF9900;
}

a:active {
  color: #000000;
}

body{
  background-color: pink;
}