/*element*/

body {
  padding-top: 60px;
}

/*id*/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 2ch;
  white-space: nowrap;
  background: linear-gradient(to bottom, #212121, #676767);
  border-radius: 0 0 10px 10px;
}

#navbar p, #navbar a {
  color: white;
}

#mainpart {
  background-color: #AECCDD;
  width: 100%;
}

#welcome {
  position: absolute;
  top: 67px;
  width: 100%;
}

/*class*/

.glass {
  border-radius: 9px;
  background: rgba(64, 64, 89, 0.3);
  backdrop-filter: blur(10px);
  color: white;
}

.glass p, .glass a, .glass h1 {
  color:white;
  text-align: center;
  -webkit-text-stroke: 0.2px black;
}

p, a {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 560;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}