body {
  padding-top: 60px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  white-space: nowrap;
  background: #777777;
}