/*element*/

body {
  padding-top: 60px;
}

/*id*/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 2ch;
  white-space: nowrap;
  background: linear-gradient(to bottom, #212121, #676767);
  border-radius: 0 0 10px 10px;
}

#navbar p, #navbar a {
  color: white;
}

#mainpart {
  background-color: black;
}

#welcome {
  position: absolute;
  top: 67px;
  width: 90%;
}

/*class*/

.glass {
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: white;
}

.glass p, .glass a {
  color:white;
}